*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding:16px ;
    background-color: darkred;
    color:#ecf0f1;
    position: fixed;
}

h1{
    font-size: 50px;
}

h2,
h3{
    margin-top: 48px;
    margin-bottom: 12px;
}

h1,h2,h3,a{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body,input,textarea{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header li{
    display: inline;
    margin-left: 16px;
    font-size: 20px;
}

header a img{
    max-width: 36px;
    border-radius: 4px;
}

header li a{
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 4px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li a:hover{
    padding: 16px;
    background-color: #ecf0f1;
    color: darkred;
}

section{
    max-width: 1366px;
    width: 100%;
    margin: 0;
    background-color: rgb(155, 145, 145);
    color: darkred;
}

#fifa23 img{
    margin-top: 120px;
}

section img{
    max-height: 400px;
    max-width: 300px;
    height: auto;
    width: auto;
    margin-top: 48px;
}

.downloads li{
    display: inline;
}

.downloads li img{
    max-height: 180px;
    max-width: 180px;
    width: auto;
    height: auto;
    align-items: center
}

#contact{
    background-color: rgb(155, 145, 145);
    color: darkred;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

.social-links li{
    display: inline;
    margin-right: 12px;
    text-decoration: none;
}

.social-links li img{
    height: 24px;
    margin-top: 10px;
}

footer{
    padding: 24px 0;
    background-color: darkred;
    color: #ecf0f1;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    background-color: darkred;
    color: #ecf0f1;
    border: none;

}

form button:hover{
    background-color: #ecf0f1;
    color: darkred;
}

input:focus, textarea:focus{
    outline-color: darkred;
}